﻿@model ToDoList.ViewModel.TaskCreateVM
@{
    ViewBag.Title = "Thêm công việc";
}
@{
    var role = Session["role"].ToString();
    DateTime now = DateTime.Now;
}
<input type="hidden" id="role" value="@role" />
@using (Html.BeginForm("Create", "Task", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
        <h4>Công việc cần làm</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", id="title" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                <span class="text-danger">@ViewBag.errorTitle</span>

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               @Html.TextBoxFor(model => model.StartDate, htmlAttributes: new { id = "startDate", type = "datetime-local" })
                <span class="text-danger">@ViewBag.errorStartDate</span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.EndDate, htmlAttributes: new { id = "endDate", type = "datetime-local" })
                <span class="text-danger">@ViewBag.errorEndDate</span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Scope, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                    <select asp-for="Scope" name="Scope" id="Scope" class="form-control">
                        <option value="true" selected>Public</option>
                        <option value="false" >Private</option>
                    </select>
                    @Html.ValidationMessageFor(model => model.Scope, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.StatusId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StatusId", (IEnumerable<SelectListItem>)ViewBag.listStatus , htmlAttributes: new { @class = "form-control", id = "StatusId" })
                @Html.ValidationMessageFor(model => model.StatusId, "", new { @class = "text-danger" })
                <span class="text-danger">@ViewBag.errorStatusId</span>

            </div>
        </div>
        @if (Session["role"].ToString().Equals("1"))
        {
            <div class="form-group">
                <label class="control-label col-md-2">Nhân viên tham gia</label>
                <div class="col-md-10">
                    @Html.DropDownList("EmployeeIsAssigned", (MultiSelectList)ViewBag.listEmployee, htmlAttributes: new { multiple = "multiple", @class = "form-control" })
                    <span class="text-danger">@ViewBag.errorEmployeeIsAssigned</span>

                </div>
            </div>
        }

        <div class="form-group">
            @Html.LabelFor(model => model.File, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.File, new { type = "file", @multiple = "multiple" })
                @Html.ValidationMessageFor(model => model.File, "", new { @class = "text-danger",  })
                <span class="text-danger">@ViewBag.fileError</span>

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Tạo" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Quay trở lại trang trước", "Index")
</div>

<script>
    $(document).ready(function () {
        // auto remove expired status
        $("#StatusId option[value='3']").each(function () {
            $(this).remove();
        });
    })
</script>