﻿@model ToDoList.ViewModel.DetailTaskVM
@{
    ViewBag.Title = "Chi tiết công việc";
}
<style>
    .comment-wrapper .panel-body {
        max-height: 650px;
        overflow: auto;
    }

    .comment-wrapper .media-list .media img {
        width: 64px;
        height: 64px;
        border: 2px solid #e5e7e8;
    }

    .comment-wrapper .media-list .media {
        border-bottom: 1px dashed #efefef;
        margin-bottom: 25px;
    }
    /*timeline css*/
    ul.timeline {
        list-style-type: none;
        position: relative;
    }

        ul.timeline:before {
            content: ' ';
            background: #d4d9df;
            display: inline-block;
            position: absolute;
            left: 29px;
            width: 2px;
            height: 100%;
            z-index: 400;
        }

        ul.timeline > li {
            margin: 20px 0;
            padding-left: 20px;
        }

            ul.timeline > li:before {
                content: ' ';
                background: white;
                display: inline-block;
                position: absolute;
                border-radius: 50%;
                border: 3px solid #22c0e8;
                left: 20px;
                width: 20px;
                height: 20px;
                z-index: 400;
            }
    /*details task*/

    .card-box {
        padding: 20px;
        border-radius: 3px;
        margin-bottom: 30px;
        background-color: #fff;
    }

    .thumb-sm {
        height: 36px;
        width: 36px;
    }

    .task-detail .task-dates li {
        width: 50%;
        float: left;
    }

    .task-detail .task-tags .bootstrap-tagsinput {
        padding: 0;
        border: none;
    }

    .task-detail .assign-team a {
        display: inline-block;
        margin: 5px 5px 5px 0;
    }

    .task-detail .files-list .file-box {
        display: inline-block;
        vertical-align: middle;
        width: 80px;
        padding: 2px;
        border-radius: 3px;
        -moz-border-radius: 3px;
        background-clip: padding-box;
    }

        .task-detail .files-list .file-box img {
            line-height: 70px;
        }

        .task-detail .files-list .file-box p {
            width: 100%;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

    .add-new-plus {
        height: 32px;
        text-align: center;
        width: 32px;
        display: block;
        line-height: 32px;
        color: #98a6ad;
        font-weight: 700;
        background-color: #e3eaef;
        border-radius: 50%;
    }

    .project-sort-item .form-group {
        margin-right: 30px;
    }

        .project-sort-item .form-group:last-of-type {
            margin-right: 0;
        }

    .project-box {
        position: relative;
    }

        .project-box .badge {
            position: absolute;
            right: 20px;
        }

        .project-box h4 {
            text-overflow: ellipsis;
            white-space: nowrap;
            display: block;
            width: 100%;
            overflow: hidden;
        }

        .project-box ul li {
            padding-right: 30px;
        }

        .project-box .project-members a {
            margin: 0 0 10px -12px;
            display: inline-block;
            border: 3px solid #fff;
            border-radius: 50%;
            -webkit-box-shadow: 0 0 24px 0 rgba(0, 0, 0, .06), 0 1px 0 0 rgba(0, 0, 0, .02);
            box-shadow: 0 0 24px 0 rgba(0, 0, 0, .06), 0 1px 0 0 rgba(0, 0, 0, .02);
        }

            .project-box .project-members a:first-of-type {
                margin-left: 0;
            }

    .company-card .company-logo {
        float: left;
        height: 60px;
        width: 60px;
        border-radius: 3px;
    }

    .company-card .company-detail {
        margin: 0 0 50px 75px;
    }

    .text-muted {
        color: #98a6ad !important;
    }

    p {
        line-height: 1.6;
        font-size: 14px;
    }

    .bootstrap-tagsinput .label-info {
        background-color: #02c0ce;
        display: inline-block;
        padding: 4px 8px;
        font-size: 13px;
        margin: 3px 1px;
        border-radius: 3px;
    }
</style>
@*@Html.ActionLink("Quay trở lại trang trước", "Index", null, new { @class = "btn btn-info" })*@
<br />
<br />
<div class="row bootstrap">
    @{
        var taskId = Model.task.Id;

        // check if user is assigned for this task except administrator
        bool isAssign = false;
        if (Session["role"].ToString().Equals("1"))
        {
            isAssign = true;
        }
        else
        {
            foreach (var item in Model.EmployeeAssign)
            {
                if (item.Id.ToString().Equals(Session["userId"].ToString()))
                {
                    isAssign = true;
                    break;
                }
            }
        }

    }
    <div class="col-md-12 col-sm-12">
        <div class="comment-wrapper">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#taskDetail">Bảng chi tiết công việc</a>
                    </h4>
                </div>
                <div id="taskDetail" class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card-box task-detail">
                                    <div class="media mt-0 m-b-30">
                                        <div class="media-body">
                                            <h5 class="media-heading mb-0 mt-0">Tên người tạo </h5>
                                            <p style="font-size:15px">@Model.EmployeeAssign[0].Name</p>
                                        </div>
                                    </div>
                                    <br />
                                    <h5 class="m-b-20">Tiêu đề công việc</h5>
                                    <p style="font-size:15px"> @Model.task.Title</p>
                                    @*<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, illo, iste itaque voluptas corrupti ratione reprehenderit magni similique? Tempore, quos delectus asperiores libero voluptas quod perferendis! Voluptate, quod illo rerum? Lorem ipsum dolor sit amet.</p>
                                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, illo, iste itaque voluptas corrupti ratione reprehenderit magni similique? Tempore, quos delectus asperiores libero voluptas quod perferendis! Voluptate, quod illo rerum? Lorem ipsum dolor sit amet.</p>*@
                                    <ul class="list-inline task-dates m-b-0 mt-5">
                                        <li>
                                            <h5 class="m-b-5">Ngày bắt đầu</h5>
                                            @{
                                                var startData = Model.task.StartDate.ToString("dd/MM/yyyy HH:mm tt").Split(' ');
                                                var startDay = startData[0];
                                                var startTime = startData[1];
                                                var startMeridiem = startData[2];

                                                var endData = Model.task.EndDate.ToString("dd/MM/yyyy HH:mm tt").Split(' ');
                                                var endDay = endData[0];
                                                var endTime = endData[1];
                                                var endMeridum = endData[2];
                                            }
                                            <p>@startDay<small class="text-muted"> @startTime @startMeridiem</small></p>
                                        </li>
                                        <li>
                                            <h5 class="m-b-5">Ngày kết thúc</h5>
                                            <p>@endDay<small class="text-muted"> @endTime @endMeridum</small></p>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                    <div class="task-tags mt-4">
                                        <h5 class="">Phạm vi</h5>
                                        @{
                                            var lableColor = Model.task.Scope ? "label-info" : "label-warning";
                                            var textScope = Model.task.Scope ? "public" : "private";
                                        }
                                        <div class="bootstrap-tagsinput">
                                            <span class="tag label @lableColor">
                                                @textScope
                                                <span data-role="remove"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="task-tags mt-4">
                                        <h5 class="">Trạng thái</h5>
                                        @{
                                            // 1. Đang làm  2. Đã xong  3. Trễ hạn
                                            var labelStatusColor = "";
                                            var statusText = Model.task.StatusId.ToString();
                                            if (statusText == "1")
                                            {
                                                labelStatusColor = "label-primary";
                                                statusText = "Đang làm";
                                            }
                                            else if (statusText == "2")
                                            {
                                                labelStatusColor = "label-success";
                                                statusText = "Đã xong";
                                            }
                                            else
                                            {
                                                labelStatusColor = "label-danger";
                                                statusText = "Trễ hạn";
                                            }
                                        }
                                        <div class="bootstrap-tagsinput">
                                            <span class="tag label @labelStatusColor">
                                                @statusText
                                                <span data-role="remove"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="assign-team mt-4 col-md-6">
                                            <h5 class="m-b-5">Danh sách nhân viên tham gia công việc</h5>
                                            <div class="table-responsive table-striped">
                                                <table class="table">
                                                    <thead class="thead-dark">
                                                        <tr>
                                                            <th>Mã nhân viên</th>
                                                            <th>Họ và tên</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model.EmployeeAssign)
                                                        {
                                                            <tr>
                                                                @if (item.roleId != 1 && item.roleId != 3)
                                                                {
                                                                    <td>@item.Id</td>
                                                                    <td>@item.Name</td>
                                                                }
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        @{
                                            var showOrHidden = Model.Files.Count() <= 0 ? "display:none" : "";
                                        }
                                        <div class="assign-team mt-4 col-md-6" style="@showOrHidden">
                                            <h5 class="m-b-5">Danh sách tập tin đính kèm</h5>
                                            <div class="table-responsive table-striped">
                                                <table class="table">
                                                    <thead class="thead-dark">
                                                        <tr>
                                                            <th>Mã File</th>
                                                            <th>Tên file</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model.Files)
                                                        {
                                                            <tr>
                                                                <td>@item.Id</td>
                                                                <td>@Html.ActionLink(@item.C_Path, "DownloadFile", new { fileName = item.C_Path }, new { @target = "_blank" })</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="text-right mt-4">
                                                @if (!isAssign)
                                                {
                                                    <button type="submit" class="btn btn-success waves-effect waves-light" disabled>Sửa công việc</button>
                                                }
                                                else
                                                {
                                                    <a href="@Url.Action("Edit", "Task", new { id = taskId})" style="text-decoration:none; color:white">
                                                        <button type="submit" class="btn btn-success waves-effect waves-light">Sửa công việc</button>
                                                    </a>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row bootstrap snippets bootdeys">
    <div class="col-md-6 col-sm-6">
        <div class="comment-wrapper">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#comment">Khung bình luận</a>
                    </h4>
                </div>
                <div id="comment" class="panel">
                    <div class="panel-body">
                        @{
                            var isVisible = !isAssign ? "display:none" : "";
                        }
                        <div style="@isVisible">
                            <textarea id="comment-box" class="form-control" placeholder="Thêm bình luận..." rows="3" maxlength="255"></textarea>
                            <br>
                            <button type="button" class="btn btn-primary pull-right" id="btnPostComment">Đăng</button>
                            <div class="clearfix"></div>
                            <hr>
                        </div>
                        <ul id="list-comment" class="media-list">
                            @Html.Partial("_CommentPartial")
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-6 col-sm-6">
        <div class="comment-wrapper">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#history">Lịch sử thay đổi</a>
                    </h4>
                </div>
                <div id="history" class="panel">
                    <div class="panel-body">
                        <h5><i>Thay đổi mới nhất</i></h5>
                        <ul class="timeline">
                            @foreach (var item in Model.TaskLogs)
                            {
                                <li>
                                    <a target="_blank" href="https://www.totoprayogo.com/#">@item.Name</a>
                                    <small class="text-muted pull-right">@item.Timestamp.ToString("dd/MM/yyyy HH:mm tt")</small>
                                    <p style="word-wrap: break-word;white-space: pre-line">@item.Content</p>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnPostComment").attr('disabled', true);
        $("#comment-box").on('keyup', function () {
            var commentBoxContent = $("#comment-box").val();
            if(commentBoxContent != '') {
                $("#btnPostComment").attr('disabled', false);
            } else {
                $("#btnPostComment").attr('disabled', true);
            }

        });

        $("#btnPostComment").click(function () {
            $("#btnPostComment").attr('disabled', true);
            var taskId = @taskId;
            var content = $("#comment-box").val();
            if($("#comment-box").val().length > 255) {
                alert("Độ dài chuỗi bình luận vượt quá giới hạn cho phép (255)")
            } else {
                $("#comment-box").val("");
                $.ajax({
                    type: "Post",
                    url: "/Task/postComment",
                    data: { taskId: taskId, content:content  },
                    success: function (response) {
                        $("#list-comment").html(response)
                        location.reload();
                    }
                })
            }
        })
    })
</script>