﻿@model ToDoList.ViewModel.TaskEditVM
@{
    ViewBag.Title = "Chỉnh sửa công việc";
}

<style>
       /**
    * FilePond Custom Styles
    */
       .filepond--drop-label {
           color: #4c4e53;
       }

       .filepond--label-action {
           text-decoration-color: #babdc0;
       }

       .filepond--panel-root {
           border-radius: 2em;
           background-color: #edf0f4;
           height: 1em;
       }

       .filepond--item-panel {
           background-color: #595e68;
       }

       .filepond--drip-blob {
           background-color: #7f8a9a;
       }
</style>
@using (Html.BeginForm("Edit", "Task", FormMethod.Post, new
{ enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Thông tin công việc</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                <span class="text-danger">@ViewBag.errorTitle</span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.StartDate, "{0:s}", new { @type = "datetime-local", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                <span class="text-danger">@ViewBag.errorStartDate</span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.EndDate, "{0:s}", new { @type = "datetime-local", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                <span class="text-danger">@ViewBag.errorEndDate</span>

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Scope, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select asp-for="Scope" name="Scope" id="Scope" class="form-control">
                    @if (ViewBag.Scope == true)
                    {
                        <option value="true" selected>Public</option>
                        <option value="false">Private</option>
                    }
                    else
                    {
                        <option value="true">Public</option>
                        <option value="false" selected>Private</option>
                    }

                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StatusId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StatusId", (IEnumerable<SelectListItem>)ViewBag.listStatus, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StatusId, "", new { @class = "text-danger" })
            </div>
        </div>

        @if (Session["role"].ToString().Equals("1"))
        {
            <div class="form-group">
                @Html.LabelFor(model => model.StatusId, "StatusId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("EmployeeIsAssigned", (MultiSelectList)ViewBag.MTEmployeeIsAssigned, htmlAttributes: new { multiple = "multiple", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.StatusId, "", new { @class = "text-danger" })
                    <span class="text-danger">@ViewBag.errorEmployeeIsAssigned</span>
                </div>
            </div>
        }
        <div id="divDisplayFile">
            @Html.Partial("_TableFilePartial")
        </div>
        

        <div class="form-group">
            @Html.LabelFor(model => model.File, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.File, new { type = "file", @multiple = "multiple" })
                @Html.ValidationMessageFor(model => model.File, "", new { @class = "text-danger", })
                <span class="text-danger">@ViewBag.fileError</span>

            </div>
        </div>



            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
}

<div>
    @Html.ActionLink("Quay trở lại trang trước", "Index")
</div>


<script>
    $(document).ready(function () {
        // auto remove expired status
        //$("#StatusId option[value='3']").each(function () {
        //    $(this).remove();
        //});
    })

    //delete file in filemanager
    $(document).ready(function () {
        $(".btnDeleteFile").click(function () {
            var fileId = $(this).attr("id");
            var fileName = $(this).attr("fileName");
            var taskId = $(this).attr("taskId");
            // ngay day ông
            var isDeleted = confirm("Bạn có muốn xóa file " + fileName + "?");
            if (isDeleted == true)
            {
                $.ajax({
                    type: "Post",
                    url: "/Task/deleteFile",
                    data: { fileId: fileId, taskId: taskId },
                    success: function (response) {
                        alert("Đã xóa file " + fileName + ".");
                        $("#divDisplayFile").html(response);
                    }
                })
            }
        })
    })
</script>