﻿@model ToDoList.ViewModel.TaskIndexVM
@{
    if (Session["role"].Equals("2"))
    {
        ViewBag.h3 = "Bảng quản lý công việc cá nhân";
    }
    else
    {
        ViewBag.h3 = "Bảng quản lý công việc của tất cả các nhân viên";
    }
    ViewBag.Title = "Quản lý công việc";
}
<h3>@ViewBag.h3</h3>
<br />

@using (Html.BeginForm("Index", "Task", FormMethod.Get))
{
    <div class="form-group">
        <span class="search-label">Tìm kiếm:</span>
        <input type="text" name="searchString" value="@ViewBag.currentFilter" placeholder="Nhập tên công việc" style="width: 200px;" />
        <input type="submit" value="Tìm kiếm" />
        @Html.ActionLink("Thêm công việc", "Create", null, new { @class = "add-btn btn btn-primary" })
    </div>
}
<br />
@*@foreach (var item in Model.Tasks)
{

    <select name="filterByTaskStatus"></select>
}*@
<table class="table">
    <tr>
        <th>
            Tiêu đề
        </th>
        <th>
            Ngày bắt đầu
        </th>
        <th>
            Ngày kết thúc
        </th>
        <th>
            Phạm vi
        </th>
        <th>
            Trạng thái
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Tasks)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @{
                    var startDate = item.StartDate.ToString("dd/MM/yyyy HH:mm tt");
                    var endDate = item.EndDate.ToString("dd/MM/yyyy HH:mm tt");
                }
                @startDate
            </td>
            <td>
                @endDate
            </td>
            <td>
                @if (item.Scope == true)
                {
                    <select class="Scope" >
                        <option value="true" id="@item.Id" selected>public</option>
                        <option value="false" id="@item.Id">private</option>
                    </select>
                }
                else
                {
                    <select class="Scope">
                        <option value="true" id="@item.Id">public</option>
                        <option value="false" id="@item.Id" selected>private</option>
                    </select>
                }
            </td>
            <td>
                @{
                    // 1. Đang làm  2. Đã xong  3. Trễ hạn
                    var labelStatusColor = "";
                    var statusText = item.StatusId.ToString();
                    if (statusText == "1")
                    {
                        labelStatusColor = "label-primary";
                        statusText = "Đang làm";
                    }
                    else if (statusText == "2")
                    {
                        labelStatusColor = "label-success";
                        statusText = "Đã xong";
                    }
                    else
                    {
                        labelStatusColor = "label-danger";
                        statusText = "Trễ hạn";
                    }
                }
                <div class="bootstrap-tagsinput">
                    <span class="tag label @labelStatusColor">
                        @statusText
                        <span data-role="remove"></span>
                    </span>
                </div>
            </td>
            <td>
                @Html.ActionLink("Sửa |", "Edit", new { id = item.Id })
                @Html.ActionLink("Chi tiết", "Detail", new { id = item.Id })
            </td>
        </tr>
                    }
</table>
@{
    var disNext = !Model.Tasks.HasNext ? " visibility: hidden" : "";
    var disPre = !Model.Tasks.HasPrevious ? " visibility: hidden" : "";
}

<ul class="pagination justify-content-end" style="margin:20px 0">
    <li class="page-item">
        <a class="page-link" style="@disPre"
           href="@Url.Action("Index", "Task", new { pageIndex= 1, currentFilter = ViewBag.currentFilter })"><<</a>
    </li>
    <li class="page-item">
        <a class="page-link" style="@disPre"
           href="@Url.Action("Index", "Task", new { pageIndex= Model.Tasks.PageIndex - 1, currentFilter = ViewBag.currentFilter })"><</a>
    </li>
    @{
        for (int i = 1; i <= Model.Tasks.TotalPages; i++)
        {
            //Nếu số tổng số trang >=8 thì sẽ hiện ... và sẽ hiện trang : i-2 , i-1 , i , i+1 ,i+2
            if (Model.Tasks.TotalPages >= 8 && @i >= Model.Tasks.PageIndex - 2 && @i <= Model.Tasks.PageIndex + 2)
            {
                if (@i == Model.Tasks.PageIndex - 2 && @i > 1)
                {
                    <li class="page-item"><a class="page-link">...</a></li>
                }
                if (@i == Model.Tasks.PageIndex)
                {
                    <li class="page-item active">
                        <a class="page-link "> @i </a>
                    </li>
                }
                else
                {
                    <li class="page-item ">
                        <a class="page-link"
                           href="@Url.Action("Index", "Task", new { pageIndex=i ,  currentFilter = ViewBag.currentFilter })">@i</a>
                    </li>
                }
                if (@i == Model.Tasks.PageIndex + 2 && @i < Model.Tasks.TotalPages)
                {
                    <li class="page-item"><a class="page-link">...</a></li>
                }
            }
            else if (Model.Tasks.TotalPages < 8) //Nếu số tổng số trang <8 thì sẽ hiện hết các trang
            {
                if (@i == Model.Tasks.PageIndex)
                {
                    <li class="page-item active">
                        <a class="page-link "> @i </a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link"
                           href="@Url.Action("Index", "Task", new { pageIndex= i, currentFilter = ViewBag.currentFilter })">@i</a>
                    </li>
                }
            }
        }
    }
    <li class="page-item">
        <a class="page-link" style="@disNext"
           href="@Url.Action("Index", "Task", new { pageIndex= Model.Tasks.PageIndex + 1 ,  currentFilter = ViewBag.currentFilter })">></a>
    </li>
    <li class="page-item">
        <a class="page-link" style="@disNext"
           href="@Url.Action("Index", "Task", new { pageIndex= Model.Tasks.TotalPages,  currentFilter = ViewBag.currentFilter })">>></a>
    </li>
</ul>

<script type="text/javascript">
    $(document).ready(function () {
        $(".Scope").change(function () {
            var taskId = $(this).children(":selected").attr("id");
            var scope = $(this).children(":selected").val();
            $.ajax({
                type: "Post",
                url: "/Task/updateScopeOfTask",
                data: { taskId: taskId, scope: scope },
                success: function (response) {
                    alert(response.Message)
                }
            })

        })
    })
</script>
