﻿@model ToDoList.ViewModel.TaskIndexVM
@{

    ViewBag.h3 = "Danh sách công việc public của mọi người";
    ViewBag.Title = "Danh sách công việc public";
}
<h3>@ViewBag.h3</h3>
<br />

@using (Html.BeginForm("PublicTask", "Task", FormMethod.Get))
{
    <div class="form-group">
        <span class="search-label">Tìm kiếm:</span>
        <input type="text" name="searchString" value="@ViewBag.currentFilter" placeholder="Nhập tên công việc" style="width: 200px;" />
        <input type="submit" value="Tìm kiếm" />
    </div>
}
<br />
@foreach (var item in Model.Tasks)
{

    <select name="filterByTaskStatus"></select>
}
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                Tiêu đề
            </th>
            <th>
                Ngày bắt đầu
            </th>
            <th>
                Ngày kết thúc
            </th>
            <th>
                Phạm vi
            </th>
            <th>
                Trạng thái
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Tasks.Count <= 0)
        {
            <tr>
                <td colspan="6" style="text-align:center;"><i>Không có công việc công khai</i></td>
            </tr>
        }
        @foreach (var item in Model.Tasks)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @{
                        var startDate = item.StartDate.ToString("dd/MM/yyyy HH:mm tt");
                        var endDate = item.EndDate.ToString("dd/MM/yyyy HH:mm tt");
                    }
                    @startDate
                </td>
                <td>
                    @endDate
                </td>
                <td>
                    @{
                        var lableColor = item.Scope ? "label-info" : "label-warning";
                        var textScope = item.Scope ? "public" : "private";
                    }
                    <span class="tag label @lableColor">
                        @textScope
                        <span data-role="remove"></span>
                    </span>
                </td>
                <td>
                    @{
                        // 1. Đang làm  2. Đã xong  3. Trễ hạn
                        var labelStatusColor = "";
                        var statusText = item.StatusId.ToString();
                        if (statusText == "1")
                        {
                            labelStatusColor = "label-primary";
                            statusText = "Đang làm";
                        }
                        else if (statusText == "2")
                        {
                            labelStatusColor = "label-success";
                            statusText = "Đã xong";
                        }
                        else
                        {
                            labelStatusColor = "label-danger";
                            statusText = "Trễ hạn";
                        }
                    }
                        <span class="tag label @labelStatusColor">
                            @statusText
                            <span data-role="remove"></span>
                        </span>
                </td>
                <td>
                    @Html.ActionLink("Chi tiết", "Detail", new { id = item.Id })
                </td>
            </tr>
           }
    </tbody>
</table>
@{
    var disNext = !Model.Tasks.HasNext ? " visibility: hidden" : "";
    var disPre = !Model.Tasks.HasPrevious ? " visibility: hidden" : "";
}

<ul class="pagination justify-content-end" style="margin:20px 0">
    <li class="page-item">
        <a class="page-link" style="@disPre"
           href="@Url.Action("PublicTask", "Task", new { pageIndex= Model.Tasks.PageIndex - 1, currentFilter = ViewBag.currentFilter })"><</a>
    </li>
    @{
        for (int i = 1; i <= Model.Tasks.TotalPages; i++)
        {
            //Nếu số tổng số trang >=8 thì sẽ hiện ... và sẽ hiện trang : i-2 , i-1 , i , i+1 ,i+2
            if (Model.Tasks.TotalPages >= 8 && @i >= Model.Tasks.PageIndex - 2 && @i <= Model.Tasks.PageIndex + 2)
            {
                if (@i == Model.Tasks.PageIndex - 2 && @i > 1)
                {
                    <li class="page-item"><a class="page-link">...</a></li>
                }
                if (@i == Model.Tasks.PageIndex)
                {
                    <li class="page-item active">
                        <a class="page-link "> @i </a>
                    </li>
                }
                else
                {
                    <li class="page-item ">
                        <a class="page-link"
                           href="@Url.Action("PublicTask", "Task", new { pageIndex=i ,  currentFilter = ViewBag.currentFilter })">@i</a>
                    </li>
                }
                if (@i == Model.Tasks.PageIndex + 2 && @i < Model.Tasks.TotalPages)
                {
                    <li class="page-item"><a class="page-link">...</a></li>
                }
            }
            else if (Model.Tasks.TotalPages < 8) //Nếu số tổng số trang <8 thì sẽ hiện hết các trang
            {
                if (@i == Model.Tasks.PageIndex)
                {
                    <li class="page-item active">
                        <a class="page-link "> @i </a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link"
                           href="@Url.Action("PublicTask", "Task", new { pageIndex= i, currentFilter = ViewBag.currentFilter })">@i</a>
                    </li>
                }
            }
        }
    }
    <li class="page-item">
        <a class="page-link" style="@disNext"
           href="@Url.Action("PublicTask", "Task", new { pageIndex= Model.Tasks.PageIndex + 1 ,  currentFilter = ViewBag.currentFilter })">></a>
    </li>
</ul>