﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Đăng nhập</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href=@Url.Content("/Content/SmartLogin/images/icons/favicon.ico") />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href=@Url.Content("/Content/SmartLogin/vendor/bootstrap/css/bootstrap.min.css")>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href=@Url.Content("/Content/SmartLogin/fonts/font-awesome-4.7.0/css/font-awesome.min.css")>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href=@Url.Content("/Content/SmartLogin/vendor/animate/animate.css")>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href=@Url.Content("/Content/SmartLogin/vendor/css-hamburgers/hamburgers.min.css")>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href=@Url.Content("/Content/SmartLogin/vendor/select2/select2.min.css")>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href=@Url.Content("/Content/SmartLogin/css/util.css")>
    <link rel="stylesheet" type="text/css" href=@Url.Content("/Content/SmartLogin/css/main.css")>
    <!--===============================================================================================-->
    <style type="text/css" rel="stylesheet">
        .login100-form-title, .login100-form-btn {
            font-family: sans-serif;
            font-weight: bold;
        } 

        .input100 {
            font-family: sans-serif;
        }

        .alert-validate::before {
            font-family: sans-serif;
        }
    </style>
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <img src=@Url.Content("/Content/SmartLogin/images/img-01.png") alt="IMG">
                </div>
                @using (Html.BeginForm("Index", "Account", FormMethod.Post, new { @class = "login100-form validate-form" }))
                {
                    <span class="login100-form-title">
                        ĐĂNG NHẬP
                    </span>

                    <div class="wrap-input100 validate-input" data-validate="Vui lòng nhập tên email.">
                        <input class="input100" type="text" name="Email" placeholder="Tên đăng nhập"/>
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Vui lòng nhập mật khẩu.">
                        <input type="password" name="C_Password" placeholder="Mật khẩu" class="input100"/>
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button type="submit" class="login100-form-btn">
                            Đăng nhập
                        </button>
                    </div>

                    <div class="text-center p-t-12">
                        <span style="color:red">@ViewData["Error"]</span>
                    </div>

                    <div class="text-center p-t-136">

                    </div>
                }
            </div>
        </div>
    </div>




    <!--===============================================================================================-->
    <script src=@Url.Content("/Content/SmartLogin/vendor/jquery/jquery-3.2.1.min.js")></script>
    <!--===============================================================================================-->
    <script src=@Url.Content("/Content/SmartLogin/vendor/bootstrap/js/popper.js")></script>
    <script src=@Url.Content("/Content/SmartLogin/vendor/bootstrap/js/bootstrap.min.js")></script>
    <!--===============================================================================================-->
    <script src=@Url.Content("/Content/SmartLogin/vendor/select2/select2.min.js")></script>
    <!--===============================================================================================-->
    <script src=@Url.Content("/Content/SmartLogin/vendor/tilt/tilt.jquery.min.js")></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <!--===============================================================================================-->
    <script src=@Url.Content("/Content/SmartLogin/js/main.js")></script>

</body>
</html>