﻿@model ToDoList.ViewModel.DetailTaskVM

@foreach (var item in Model.Comments)
{
    var srcImage = "";
    var badgeColor = "";
    var text = "";
    if (item.Role.ToString().Equals("1"))
    {
        badgeColor = "badge-warning";
        srcImage = "https://bootdey.com/img/Content/user_1.jpg";
        text = "Lãnh đạo";
    }
    else if (item.Role.ToString().Equals("2"))
    {
        badgeColor = "badge-info";
        srcImage = "https://www.bootdey.com/img/Content/avatar/avatar7.png";
        text = "Nhân viên";
    }
    else
    {
        badgeColor = "badge-danger";
        srcImage = "https://www.bootdey.com/img/Content/avatar/avatar6.png";
        text = "Ban điều hành";
    }

    <li class="media">
        <a href="#" class="pull-left">
            <img src="@srcImage" alt="" class="img-circle">
        </a>
        <div class="media-body">
            <span class="text-muted pull-right">
                <small class="text-muted"><time class="timeago" datetime="@item.TimeStamp"></time></small>
            </span>
            <strong class="text-success">@item.Name</strong>
            <br />
            <span class="badge badge-pill @badgeColor">@text</span>
            <br />
            <div style="word-wrap: break-word;">
                @item.Content
            </div>
            <br />
        </div>
    </li>
}
<script>
    $(document).ready(function () {
        $('time.timeago').timeago();
    });
</script>