﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVCPage</title>

    @*bootstrap 3*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link href=@Url.Content("/Content/BoostrapPageIndex/vendor/bootstrap/css/bootstrap.min.css") rel="stylesheet">
    <link rel="stylesheet" href=@Url.Content("/Content/lib/bootstrap/dist/css/bootstrap.min.css") />
    <link rel="stylesheet" href=@Url.Content("/Content/css/site.css") />

    @*Custom styles for this template*@
    <link href=@Url.Content("/Content/BoostrapPageIndex/css/simple-sidebar.css") rel="stylesheet">
    
    <style type="text/css" rel="stylesheet">
        th > a {
            color: black;
        }

        th > a:hover {
            text-decoration: none;
        }

        .active {
            background-color: 0xDAE0E5 !important;
            color: 0x1E1E1E !important;
        }

        .search-label {
            font-weight: bold;
        }

        .add-btn {
            float: right;
        }
    </style>
</head>

<body>
    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper" style="margin-bottom: -10%; padding-bottom: 10%">
            <div class="sidebar-heading">Thanh tác vụ</div>
            @if (Session["role"].ToString().Equals("2"))
            {
                @Html.Partial("_NVMenu")

            }
            else if(Session["role"].ToString().Equals("1"))
            {
                @Html.Partial("_QTMenu")
            }
            else
            {
                @Html.Partial("_SuperMenu")
            }
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <span id="menu-toggle"><img src=@Url.Content("/Content/Images/hamberger_64.png") style="height:30px; width:30px; cursor: pointer" /></span>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Xin chào: @Session["Name"]
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="@Url.Action("Logout","Account")">Đăng xuất</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="container-fluid">
                @RenderBody()
            </div>
            @*<footer class=" border-top footer text-muted"  style="position:fixed; bottom:5px" >
                  <div class="container border-top" style="position:fixed; bottom:5px">
                      &copy; 2019 - MVCPage - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                  </div>
                </footer>*@
        </div>
        <!-- /#page-content-wrapper -->
        <script src=@Url.Content("/Content/lib/jquery/dist/jquery.min.js")></script>
        <script src=@Url.Content("/Content/lib/bootstrap/dist/js/bootstrap.bundle.min.js")></script>
        <script src=@Url.Content("/Content/js/site.js") asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
    </div>
    <!-- /#wrapper -->
    <!-- Bootstrap core JavaScript -->
   
    <script src=@Url.Content("/Content/BoostrapPageIndex/vendor/jquery/jquery.min.js")></script>
    <script src=@Url.Content("/Content/BoostrapPageIndex/vendor/bootstrap/js/bootstrap.bundle.min.js")></script>
    @*<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>*@

     @*jquery timeago plugin*@
    <script src=@Url.Content("/Content/js/jquery.timeago.js")></script>

    <!-- Menu Toggle Script -->
    <script>
        //close-open leftmeu
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
        //drop down menu
        $(document).ready(function () {
            $(".dropdown-toggle").dropdown();
        });
        // active left menu
        $(document).ready(function () {
            $('#leftmenu a').click(function () {
                $('a').removeClass("active");
                $(this).addClass("active");
            });
        });
        $(document).ready(function () {
            setInterval(function () {
                autoUpdateTask()
            }, 5000);
        })

        function autoUpdateTask() {
            $.ajax({
                type: "Post",
                url: "/Task/autoUpdateTask",
                success: function (response) {
                    console.log("update task successfully")
                }
            })
        }
        autoUpdateTask();
    </script>
</body>
</html>
