﻿@model ToDoList.ViewModel.TaskIndexVM
<table class="table colored-header datatable project-list" id="dataTableSt">
    <thead class="thead-dark">
        <tr>
            <th>Tiêu đề</th>
            <th>Ngày bắt đầu</th>
            <th>Ngày kết thúc</th>
            <th>Phạm vi</th>
            <th>Trạng thái</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Tasks.Count <= 0)
            {
            <tr>
                <td colspan="7" style="text-align:center"><i>Không có công việc trễ hạn trong khoảng thời gian này</i></td>
            </tr>
        }
        @foreach (var item in Model.Tasks)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @{
                        var startDate = item.StartDate.ToString("dd/MM/yyyy HH:mm tt");
                        var endDate = item.EndDate.ToString("dd/MM/yyyy HH:mm tt");
                    }
                    @startDate
                </td>
                <td>
                    @endDate
                </td>
                <td>
                    @{
                        var lableColor = item.Scope ? "label-info" : "label-warning";
                        var textScope = item.Scope ? "public" : "private";
                    }
                    <div class="bootstrap-tagsinput">
                        <span class="tag label @lableColor">
                            @textScope
                            <span data-role="remove"></span>
                        </span>
                    </div>
                </td>
                <td>
                    @{
                        // 1. Đang làm  2. Đã xong  3. Trễ hạn
                        var labelStatusColor = "";
                        var statusText = item.StatusId.ToString();
                        if (statusText == "1")
                        {
                            labelStatusColor = "label-primary";
                            statusText = "Đang làm";
                        }
                        else if (statusText == "2")
                        {
                            labelStatusColor = "label-success";
                            statusText = "Đã xong";
                        }
                        else
                        {
                            labelStatusColor = "label-danger";
                            statusText = "Trễ hạn";
                        }
                    }
                    <div class="bootstrap-tagsinput">
                        <span class="tag label @labelStatusColor">
                            @statusText
                            <span data-role="remove"></span>
                        </span>
                    </div>
                </td>
                <td>
                    <a href="@Url.Action("Detail", "Task", new { id = @item.Id })" style="text-decoration:none"><button type="button" class="btn btn-outline-secondary">Chi tiết</button></a>
                </td>
            </tr>
    }
    </tbody>
</table>
@{
    var disNext = !Model.Tasks.HasNext ? " visibility: hidden" : "";
    var disPre = !Model.Tasks.HasPrevious ? " visibility: hidden" : "";
}

<ul id="detailExpiredTask" class="pagination justify-content-end" style="margin:20px 0">
    <li class="page-item">
        <a class="page-link" style="@disPre"
           data-pageIndex="@Model.Tasks.PageIndex - 1"><</a>
    </li>
    @{
        for (int i = 1; i <= Model.Tasks.TotalPages; i++)
        {
            //Nếu số tổng số trang >=8 thì sẽ hiện ... và sẽ hiện trang : i-2 , i-1 , i , i+1 ,i+2
            if (Model.Tasks.TotalPages >= 8 && @i >= Model.Tasks.PageIndex - 2 && @i <= Model.Tasks.PageIndex + 2)
            {
                if (@i == Model.Tasks.PageIndex - 2 && @i > 1)
                {
                    <li class="page-item"><a class="page-link">...</a></li>
                }
                if (@i == Model.Tasks.PageIndex)
                {
                    <li class="page-item active">
                        <a class="page-link "  data-pageIndex="@i"> @i </a>
                    </li>
                }
                else
                {
                    <li class="page-item ">
                        <a class="page-link"
                            data-pageIndex="@i">@i</a>
                    </li>
                }
                if (@i == Model.Tasks.PageIndex + 2 && @i < Model.Tasks.TotalPages)
                {
                    <li class="page-item"><a class="page-link">...</a></li>
                }
            }
            else if (Model.Tasks.TotalPages < 8) //Nếu số tổng số trang <8 thì sẽ hiện hết các trang
            {
                if (@i == Model.Tasks.PageIndex)
                {
                    <li class="page-item active">
                        <a class="page-link "  data-pageIndex="@i"> @i </a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link"
                           data-pageIndex="@i">@i</a>
                    </li>
                }
            }
        }
    }
    <li class="page-item">
        <a class="page-link" style="@disNext"
           data-pageIndex="@Model.Tasks.PageIndex + 1">></a>
    </li>
</ul>
