﻿<div class="list-group list-group-flush">
    <a href="@Url.Action("Index","Home")" class="list-group-item list-group-item-action bg-light">Trang chủ</a>
    <a href="@Url.Action("Index","Employee")" class="list-group-item list-group-item-action bg-light">Quản lý nhân viên</a>
    <a href="@Url.Action("Index","Task")" class="list-group-item list-group-item-action bg-light">Quản lý công việc</a>
    <a href="@Url.Action("Index", "Statistical")" class="list-group-item list-group-item-action bg-light">Thống kê</a>
</div>