﻿<div class="list-group list-group-flush">
    <a href="@Url.Action("Index","Home")" class="list-group-item list-group-item-action bg-light">Trang chủ</a>
    <a href="@Url.Action("Index","SuperAdmin")" class="list-group-item list-group-item-action bg-light">Danh sách quản trị viên</a>
</div>
