﻿@model ToDoList.ViewModel.TaskEditVM

<div class="assign-team mt-4 ">
    @*<h5 class="m-b-5">Danh sách tập tin đính kèm</h5>*@
    @Html.LabelFor(model => model.ListFile, "StatusId", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="table-responsive table-striped col-md-10">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Mã File</th>
                    <th>Tên file</th>
                    <th>Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListFile)
                {
                    <tr>
                        <td>@item.Id </td>
                        <td>@item.C_Path </td>
                        <td class="btnDeleteFile" id="@item.Id" fileName="@item.C_Path" taskId="@item.TaskId"> DELETE </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

