﻿@model ToDoList.ViewModel.StatisticalIndexVM
<div class="table-responsive table-striped">
    <!-- PROJECT TABLE -->
    <table class="table colored-header datatable project-list table-striped" id="dataTableSt">
        <thead class="thead-dark">
            <tr>
                <th>Stt</th>
                <th>Họ tên nhân viên</th>
                <th>Số lượng công việc trễ hạn</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.statisticalExpiredTasks.Count <= 0)
            {
                <tr>
                    <td colspan="7" style="text-align:center"><i>Không có dữ liệu phù hợp với tiêu chí thống kê</i></td>
                </tr>
            }
            @{
                int stt = 0;
            }
            @foreach (var item in Model.statisticalExpiredTasks)
            {
                ++stt;
                <tr>
                    <td><a href="#">@stt</a></td>
                  
                    <td>@item.Name</td>
                    <td>@item.NumberOfTaskExpired</td>
                    <td><button type="button" class="btn btn-outline-secondary expiredTask" data-employeeId="@item.EmployeeId" data-toggle="modal" data-target="#expiredTaskDetail">Chi tiết</button></td>
                </tr>
             }
        </tbody>
    </table>
    @{
        var disNext = !Model.statisticalExpiredTasks.HasNext ? " visibility: hidden" : "";
        var disPre = !Model.statisticalExpiredTasks.HasPrevious ? " visibility: hidden" : "";
    }
    <ul id="paginationExpiredTask" class="pagination justify-content-end" style="margin:20px 0">
        <li class="page-item">
            <a class="page-link" style="@disPre"
               href="" data-pageIndex="1"><<</a>
        </li>
        <li class="page-item">
            <a class="page-link" style="@disPre"
               href="" data-pageIndex="@Model.statisticalExpiredTasks.PageIndex - 1"><</a>
        </li>
        @{
            for (int i = 1; i <= Model.statisticalExpiredTasks.TotalPages; i++)
            {
                //Nếu số tổng số trang >=8 thì sẽ hiện ... và sẽ hiện trang : i-2 , i-1 , i , i+1 ,i+2
                if (Model.statisticalExpiredTasks.TotalPages >= 8 && @i >= Model.statisticalExpiredTasks.PageIndex - 2 && @i <= Model.statisticalExpiredTasks.PageIndex + 2)
                {
                    if (@i == Model.statisticalExpiredTasks.PageIndex - 2 && @i > 1)
                    {
                        <li class="page-item"><a class="page-link" data-pageIndex="">...</a></li>
                    }
                    if (@i == Model.statisticalExpiredTasks.PageIndex)
                    {
                        <li class="page-item active">
                            <a class="page-link " data-pageIndex="@i"> @i </a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item ">
                            <a class="page-link"
                               href="" data-pageIndex="@i">@i</a>
                        </li>
                    }
                    if (@i == Model.statisticalExpiredTasks.PageIndex + 2 && @i < Model.statisticalExpiredTasks.TotalPages)
                    {
                        <li class="page-item"><a class="page-link" data-pageIndex="">...</a></li>
                    }
                }
                else if (Model.statisticalExpiredTasks.TotalPages < 8) //Nếu số tổng số trang <8 thì sẽ hiện hết các trang
                {
                    if (@i == Model.statisticalExpiredTasks.PageIndex)
                    {
                        <li class="page-item active">
                            <a class="page-link " data-pageIndex="@i"> @i </a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link"
                               href="" data-pageIndex="@i">@i</a>
                        </li>
                    }
                }
            }
        }
        <li class="page-item">
            @{
                var nextPage = Model.statisticalExpiredTasks.PageIndex + 1;
            }
            <a class="page-link" style="@disNext" data-pageIndex="@nextPage"
               href="">></a>
        </li>
        <li class="page-item">
            @{
                var totalPage = Model.statisticalExpiredTasks.TotalPages;
            }
            <a class="page-link" style="@disNext" data-pageIndex="@totalPage"
               href="">>></a>
        </li>
    </ul>
    <!-- END PROJECT TABLE -->
</div>
<script>
    $(document).ready(function () {

        var loadStatiscalExpiredTaskDetail = function (startDate, endDate, userId, pageIndex) {
            $.ajax({
                type: "Get",
                url: "/Statistical/loadStatiscalExpiredTaskDetail",
                data: {startDate: startDate, endDate:endDate,  userId: userId, pageIndex: pageIndex },
                success: function (response) {
                    $("#modalEmployeeId").val(userId);
                    $("#displayModalData").html(response);
                }
            })
        }

        //click event load expired task of specific employee
        $(".expiredTask").click(function () {
            var employeeId = $(this).attr('data-employeeId');
            var startDate = $("#startDate").val();
            var endDate = $("#endDate").val();
            loadStatiscalExpiredTaskDetail(startDate, endDate, employeeId, 1)
        })

        //click event pagination for statistical expired task detail
        $("body").on("click", "#detailExpiredTask li a", function (event) {
            event.preventDefault();
            var pageIndex = $(this).attr('data-pageIndex');
            var userId = $("#modalEmployeeId").val();
            var startDate = $("#startDate").val();
            var endDate = $("#endDate").val();
            loadStatiscalExpiredTaskDetail(startDate, endDate, userId, pageIndex)
        });

    })
</script>