﻿@model ToDoList.ViewModel.StatisticalIndexVM
<div class="table-responsive table-striped">
    <!-- PROJECT TABLE -->
    <table class="table colored-header datatable project-list" id="dataTableSt">
        <thead class="thead-dark">
            <tr>
                <th>Tiêu đề</th>
                <th>Ngày bắt đầu</th>
                <th>Ngày kết thúc</th>
                <th>Phạm vi</th>
                <th>Người tạo</th>
                <th>Trạng thái</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.statisticalTasks.Count <= 0)
            {
                <tr>
                    <td colspan="7" style="text-align:center"><i>Không có dữ liệu phù hợp với tiêu chí thống kê</i></td>
                </tr>
            }
            @foreach (var item in Model.statisticalTasks)
            {
                <tr>
                    <td><a href="#">@item.Title</a></td>
                    @{
                        var startDate = item.StartDate.ToString("dd/MM/yyyy HH:MM tt");
                        var endDate = item.EndDate.ToString("dd/MM/yyyy HH:MM tt");
                        var statusId = item.statusId;
                        var statusText = ""; // 1. Đang làm 2. Đã xong 3. Trễ hạn
                        var statusColor = "";
                        if (statusId == 1)
                        {
                            statusText = "Đang làm";
                            statusColor = "label-info";
                        }
                        else if (statusId == 2)
                        {
                            statusText = "Đã xong";
                            statusColor = "label-success";
                        }
                        else
                        {
                            statusText = "Trễ hạn";
                            statusColor = "label-danger";
                        }
                        var labelScopeColor = item.Scope ? "label-primary" : "label-warning";
                        var labelScopeText = item.Scope ? "public" : "private";
                    }
                    <td>@startDate</td>
                    <td>@endDate</td>
                    <td>
                        <span class="label @labelScopeColor">@labelScopeText</span>
                    </td>
                    <td><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Avatar" class="avatar img-circle"> <a href="#">@item.Creator</a></td>
                    <td><span class="label @statusColor">@statusText</span></td>
                    <td><button type="button" class="btn btn-outline-secondary"><a href="@Url.Action("Detail", "Task", new { id=item.Id })" style="text-decoration:none; color: black;">Chi tiết</a></button></td>
                </tr>
                        }
        </tbody>
    </table>
    @{
        var disNext = !Model.statisticalTasks.HasNext ? " visibility: hidden" : "";
        var disPre = !Model.statisticalTasks.HasPrevious ? " visibility: hidden" : "";
    }
    <ul id="paginationStatusOfTask" class="pagination justify-content-end" style="margin:20px 0">
        <li class="page-item">
            <a class="page-link" style="@disPre"
               href="" data-pageIndex="1"><<</a>
        </li>
        <li class="page-item">
            <a class="page-link" style="@disPre"
               href="" data-pageIndex="@Model.statisticalTasks.PageIndex - 1"><</a>
        </li>
        @{
            for (int i = 1; i <= Model.statisticalTasks.TotalPages; i++)
            {
                //Nếu số tổng số trang >=8 thì sẽ hiện ... và sẽ hiện trang : i-2 , i-1 , i , i+1 ,i+2
                if (Model.statisticalTasks.TotalPages >= 8 && @i >= Model.statisticalTasks.PageIndex - 2 && @i <= Model.statisticalTasks.PageIndex + 2)
                {
                    if (@i == Model.statisticalTasks.PageIndex - 2 && @i > 1)
                    {
                        <li class="page-item"><a class="page-link" data-pageIndex="">...</a></li>
                    }
                    if (@i == Model.statisticalTasks.PageIndex)
                    {
                        <li class="page-item active">
                            <a class="page-link " data-pageIndex="@i"> @i </a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item ">
                            <a class="page-link"
                               href="" data-pageIndex="@i">@i</a>
                        </li>
                    }
                    if (@i == Model.statisticalTasks.PageIndex + 2 && @i < Model.statisticalTasks.TotalPages)
                    {
                        <li class="page-item"><a class="page-link" data-pageIndex="">...</a></li>
                    }
                }
                else if (Model.statisticalTasks.TotalPages < 8) //Nếu số tổng số trang <8 thì sẽ hiện hết các trang
                {
                    if (@i == Model.statisticalTasks.PageIndex)
                    {
                        <li class="page-item active">
                            <a class="page-link " data-pageIndex="@i"> @i </a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link"
                               href="" data-pageIndex="@i">@i</a>
                        </li>
                    }
                }
            }
        }
        <li class="page-item">
            @{
                var nextPage = Model.statisticalTasks.PageIndex + 1;
            }
            <a class="page-link" style="@disNext" data-pageIndex="@nextPage"
               href="">></a>
        </li>
        <li class="page-item">
            @{
                var totalPage = Model.statisticalTasks.TotalPages;
            }
            <a class="page-link" style="@disNext" data-pageIndex="@totalPage"
               href="">>></a>
        </li>
    </ul>
    <!-- END PROJECT TABLE -->
</div>