﻿<style>
    .project-list > tbody > tr > td {
        padding: 12px 8px;
    }

        .project-list > tbody > tr > td .avatar {
            width: 22px;
            border: 1px solid #CCC;
        }
</style>

<div class="container bootstrap snippets bootdey">
    <div class="row">
        @{
            DateTime now = DateTime.Now;
            var startDate = new DateTime(now.Year, now.Month, 1); // first date
            var endDate = startDate.AddMonths(1).AddDays(-1); // last date
        }
        <div class="col-md-3">
            <label>Từ ngày</label>
            @Html.TextBox("startDate", startDate.ToString("yyyy-MM-dd"), new { @type = "date", @class = "form-control validate" })
        </div>
        <div class="col-md-3">
            <label>Đến ngày</label>
            @Html.TextBox("endDate", endDate.ToString("yyyy-MM-dd"), new { @type = "date", @class = "form-control validate" })
        </div>
        <div class="col-md-3">
            <label>Loại thống kê</label>
            <select id="statisticalType" class="form-control validate">
                @*<option value="0" selected>[Chọn loại thống kê]</option>*@
                <option value="1">Công việc trễ hạn</option>
                <option value="2" selected>Trạng thái công việc</option>
            </select>
        </div>
        <div id="divTaskStatusOption" class="col-md-3">
            <label>Trạng thái công việc</label>
            <select id="taskStatusOption" class="form-control validate">
                <option value="0" selected>[Tất cả]</option>
                <option value="1">Đang làm</option>
                <option value="2">Đã xong</option>
                <option value="3">Trễ hạn</option>
            </select>
        </div>
    </div>
    <br />
    <div id="divStatisticalResult">
    </div>
</div>

@*Modal to show expired task detail*@
<div id="expiredTaskDetail" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Danh sách công việc bị trễ hạn</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div id="displayModalData" class="modal-body">
                <input id="modalEmployeeId" type="hidden" value="" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        //Statistical task by status
        var loadStatiscalTaskByStatus = function (startDate, endDate, statusId, pageIndex) {
            $.ajax({
                type: "Get",
                url: "/Statistical/loadStatiscalTaskByStatus",
                data: { startDate: startDate, endDate: endDate, statusId: statusId, pageIndex: pageIndex },
                success: function (response) {
                    $("#divStatisticalResult").html(response);
                }
            })
        }

        //Statistical expired task
        var loadStatiscalExpiredTask = function (startDate, endDate, pageIndex) {
            $.ajax({
                type: "Get",
                url: "/Statistical/loadStatiscalExpiredTask",
                data: { startDate: startDate, endDate: endDate, pageIndex: pageIndex },
                success: function (response) {
                    $("#divStatisticalResult").html(response);
                }
            })
        }

        var loadStatiscalExpiredTaskDetail = function (userId, pageIndex) {
            $.ajax({
                type: "Get",
                url: "/Statistical/loadStatiscalExpiredTaskDetail",
                data: { userId: userId, pageIndex: pageIndex },
                success: function (response) {
                    $("#modalEmployeeId").val(userId);
                    $("#displayModalData").html(response);
                }
            })
        }


        $(".validate").on('change', function () {
            var startDate = $("#startDate").val();
            var endDate = $("#endDate").val();
            var taskStatusOption = $("#taskStatusOption").val();
            var statisticalType = $("#statisticalType").val();
            if (statisticalType == 2) {
                $("#divTaskStatusOption").css("visibility", "")
            } else if (statisticalType == 1) {
                $("#divTaskStatusOption").css("visibility", "hidden")
            }
            if (startDate != null && endDate != null && statisticalType == 2) {

                loadStatiscalTaskByStatus(startDate, endDate, taskStatusOption, 1);
            } else if (statisticalType == 1 && startDate != null && endDate != null) {
                loadStatiscalExpiredTask(startDate, endDate, 1)
            }
        });

        //click event pagination for statistical task status
        $("body").on("click", "#paginationStatusOfTask li a", function (event) {
            event.preventDefault();
            var pageIndex = $(this).attr('data-pageIndex');
            var startDate = $("#startDate").val();
            var endDate = $("#endDate").val();
            var taskStatusOption = $("#taskStatusOption").val();
            //var statisticalType = $("#statisticalType").val();
            loadStatiscalTaskByStatus(startDate, endDate, taskStatusOption, pageIndex);
        });

        //click event pagination for statistical expired task
        $("body").on("click", "#paginationExpiredTask li a", function (event) {
            event.preventDefault();
            var pageIndex = $(this).attr('data-pageIndex');
            var startDate = $("#startDate").val();
            var endDate = $("#endDate").val();
            //var statisticalType = $("#statisticalType").val();
            loadStatiscalExpiredTask(startDate, endDate, pageIndex);
        });

        //init statistical
        function init(pageIndex) {
            var startDate = $("#startDate").val();
            var endDate = $("#endDate").val();
            var statisticalType = $("#statisticalType").val();
            var taskStatusOption = $("#taskStatusOption").val();
            if ((startDate != null && endDate != null && statisticalType == 2)) {
                $("#divTaskStatusOption").css("visibility", "")
                loadStatiscalTaskByStatus(startDate, endDate, taskStatusOption, pageIndex);
            } else if (startDate != null && endDate != null && statisticalType == 1) {
                $("#divTaskStatusOption").css("visibility", "hidden")
                loadStatiscalExpiredTask(startDate, endDate, pageIndex)
            }
        }
        init(1);
    });
</script>