﻿@model ToDoList.Models.Employee
@{
    ViewBag.Title = "Thêm nhân viên";
}
<div>
    @Html.ActionLink("Quay trở lại trang trước", "Index", null, new { @class = "btn btn-info" })
</div>
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Nhân viên</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-3">
                <label class="control-label" for="Name">Họ và tên</label>
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập họ và tên" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                <label class="control-label" for="BirthDate">Ngày sinh</label>
                @Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
            </div>
        </div>
        @{
            var isMaleSelected = ViewBag.genderVal == "Nam" ? "selected" : "";
            var isFemaleSelected = ViewBag.genderVal == "Nữ" ? "selected" : "";
        }
        <div class="form-group">
            <div class="col-md-3">
                <label class="control-label" for="Gender">Giới tính</label>
                <select name="Gender" class="form-control">
                    <option value="0" selected>[Chọn giới tính]</option>
                    <option value="Nam" @isMaleSelected>Nam</option>
                    <option value="Nữ" @isFemaleSelected>Nữ</option>
                </select>
                <span class="text-danger">@ViewBag.genderError</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                <label class="control-label" for="Email">Email</label>
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập tên email" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                <span class="text-danger">@ViewBag.errorMessage</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                @*<label class="control-label">Vai trò</label>
                    <select name="RoleId" class="form-control">
                        <option value="0" selected>[Chọn vai trò]</option>
                        <option value="1" @isAdminSelected>Quản trị viên</option>
                        <option value="2" @isEmployeeSelected>Nhân viên</option>
                    </select>
                        <span class="text-danger">@ViewBag.roleError</span>*@
                <input type="hidden" value="1" name="RoleId" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                <input type="submit" value="Thêm" class="btn btn-primary" />
            </div>
        </div>
    </div>
            }
