﻿@model  ToDoList.Models.Employee
<div>
    <h4>Thông tin chi tiết của nhân viên</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(tuple => tuple.Name)
        </dt>

        <dd>
            @Html.DisplayFor(tuple => tuple.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(tuple => tuple.BirthDate)
        </dt>

        <dd>
            @{
                var model1 = Model as ToDoList.Models.Employee;
                var birthdate = model1.BirthDate.ToString("dd/MM/yyyy");
            }
            @birthdate
        </dd>

        <dt>
            @Html.DisplayNameFor(tuple => tuple.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(tuple => tuple.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(tuple => tuple.Email)
        </dt>

        <dd>
            @Html.DisplayFor(tuple => tuple.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(tuple => tuple.IsActive)
        </dt>
        <dd>
            @{
                var model = Model as ToDoList.Models.Employee;
                var activeText = model.IsActive == true ? "Đã kích hoạt" : "Đã khóa";
                var activeColor = model.IsActive == true ? "label-success" : "label-danger";
            }
            <span class="tag label @activeColor">
                @activeText
                <span data-role="remove"></span>
            </span>
        </dd>
    </dl>
    <br />
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Quay trở lại trang trước", "Index")
</p>
