﻿@model ToDoList.ViewModel.EmployeeIndexVM

@{
    ViewBag.Title = "Quản lý nhân viên";
}

<h3>Quản lý nhân viên</h3>
<br />

@using (Html.BeginForm("Index", "SuperAdmin", FormMethod.Get))
{
    <div class="form-group">
        <span class="search-label">Tìm kiếm:</span>
        <input type="text" name="searchString" value="@ViewBag.currentFilter" placeholder="Nhập họ và tên quản trị viên" style="width: 200px;" />
        <input type="submit" value="Tìm kiếm" />
        @Html.ActionLink("Thêm quản trị viên", "Create", null, new { @class = "add-btn btn btn-primary" })
    </div>
}
<br />
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Họ tên", "Index", new { sortOrder = ViewBag.sortName, currentFilter = ViewBag.currentFilter })
        </th>
        <th>
            @Html.ActionLink("Ngày sinh", "Index", new { sortOrder = ViewBag.sortBirthdate, currentFilter = ViewBag.currentFilter })
        </th>
        <th>
            Giới tính
        </th>
        <th>
            Email
        </th>
        <th>
            Trạng thái
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Employees)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @{
                    var NgaySinh = String.Format("{0:dd/MM/yyyy}", @item.BirthDate);
                }
                @NgaySinh
            </td>
            <td>
                @item.Gender
            </td>
            <td>
                @item.Email
            </td>

            <td>
                @if (item.IsActive == true)
                {
                    <select class="status">
                        <option value="true" id="@item.Id" selected>Kích hoạt</option>
                        <option value="false" id="@item.Id">Đã khóa</option>
                    </select>
                }
                else
                {
                    <select class="status">
                        <option value="true" id="@item.Id"> Kích hoạt</option>
                        <option value="false" id="@item.Id" selected> Đã khóa </option>
                    </select>
                }
            </td>

            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Chi tiết", "Detail", new { id = item.Id })
            </td>
        </tr>
                    }

</table>
@{
    var disNext = !Model.Employees.HasNext ? " visibility: hidden" : "";
    var disPre = !Model.Employees.HasPrevious ? " visibility: hidden" : "";
}

<ul class="pagination justify-content-end" style="margin:20px 0">
    <li class="page-item">
        <a class="page-link" style="@disPre"
           href="@Url.Action("Index", "SuperAdmin", new { pageIndex= 1, sortOrder =ViewBag.currentSort, currentFilter = ViewBag.currentFilter })"><<</a>
    </li>
    <li class="page-item">
        <a class="page-link" style="@disPre"
           href="@Url.Action("Index", "SuperAdmin", new { pageIndex= Model.Employees.PageIndex - 1 , sortOrder =ViewBag.currentSort, currentFilter = ViewBag.currentFilter })"><</a>
    </li>
    @{
        for (int i = 1; i <= Model.Employees.TotalPages; i++)
        {
            //Nếu số tổng số trang >=8 thì sẽ hiện ... và sẽ hiện trang : i-2 , i-1 , i , i+1 ,i+2
            if (Model.Employees.TotalPages >= 8 && @i >= Model.Employees.PageIndex - 2 && @i <= Model.Employees.PageIndex + 2)
            {
                if (@i == Model.Employees.PageIndex - 2 && @i > 1)
                {
                    <li class="page-item"><a class="page-link">...</a></li>
                }
                if (@i == Model.Employees.PageIndex)
                {
                    <li class="page-item active">
                        <a class="page-link "> @i </a>
                    </li>
                }
                else
                {
                    <li class="page-item ">
                        <a class="page-link"
                           href="@Url.Action("Index", "SuperAdmin", new { pageIndex=i , sortOrder = ViewBag.currentSort, currentFilter = ViewBag.currentFilter })">@i</a>
                    </li>
                }
                if (@i == Model.Employees.PageIndex + 2 && @i < Model.Employees.TotalPages)
                {
                    <li class="page-item"><a class="page-link">...</a></li>
                }
            }
            else if (Model.Employees.TotalPages < 8) //Nếu số tổng số trang <8 thì sẽ hiện hết các trang
            {
                if (@i == Model.Employees.PageIndex)
                {
                    <li class="page-item active">
                        <a class="page-link "> @i </a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link"
                           href="@Url.Action("Index", "SuperAdmin", new { pageIndex= i, sortOrder =ViewBag.currentSort, currentFilter = ViewBag.currentFilter })">@i</a>
                    </li>
                }
            }
        }
    }
    <li class="page-item">
        <a class="page-link" style="@disNext"
           href="@Url.Action("Index", "SuperAdmin", new { pageIndex= Model.Employees.PageIndex + 1 , sortOrder = ViewBag.currentSort, currentFilter = ViewBag.currentFilter })">></a>
    </li>
    <li class="page-item">
        <a class="page-link" style="@disNext"
           href="@Url.Action("Index", "SuperAdmin", new { pageIndex= Model.Employees.TotalPages, sortOrder = ViewBag.currentSort, currentFilter = ViewBag.currentFilter })">>></a>
    </li>
</ul>

<script type="text/javascript">
    $(document).ready(function () {
        $(".status").change(function () {
            var userId = $(this).children(":selected").attr("id");
            var status = $(this).children(":selected").val();
            $.ajax({
                type: "Post",
                url: "/Employee/lockAndUnlockUser",
                data: { userId: userId, status: status },
                success: function (response) {
                    alert(response.Message)
                }
            })
        })
    })
</script>