﻿@model Tuple<ToDoList.Models.Employee, ToDoList.ViewModel.TaskIndexVM>
<div>
    <h4>Thông tin chi tiết của nhân viên</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(tuple => tuple.Item1.Name):
        </dt>

        <dd>
            @Html.DisplayFor(tuple => tuple.Item1.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(tuple => tuple.Item1.BirthDate):
        </dt>

        <dd>
            @{
                var model1 = Model as Tuple<ToDoList.Models.Employee, ToDoList.ViewModel.TaskIndexVM>;
                var birthdate = model1.Item1.BirthDate.ToString("dd/MM/yyyy");
            }
            @birthdate
        </dd>

        <dt>
            @Html.DisplayNameFor(tuple => tuple.Item1.Gender):
        </dt>

        <dd>
            @Html.DisplayFor(tuple => tuple.Item1.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(tuple => tuple.Item1.Email):
        </dt>

        <dd>
            @Html.DisplayFor(tuple => tuple.Item1.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(tuple => tuple.Item1.IsActive):
        </dt>
        <dd>
            @{
                var model = Model as Tuple<ToDoList.Models.Employee, ToDoList.ViewModel.TaskIndexVM>;
                var activeText = model.Item1.IsActive == true ? "Đã kích hoạt" : "Đã khóa";
                var activeColor = model.Item1.IsActive == true ? "label-success" : "label-danger";
            }
            <span class="tag label @activeColor">
                @activeText
                <span data-role="remove"></span>
            </span>
        </dd>
    </dl>
    <br />
    <h4>Bảng công việc</h4>
    <br />
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>
                    Tiêu đề
                </th>
                <th>
                    Ngày bắt đầu
                </th>
                <th>
                    Ngày kết thúc
                </th>
                <th>
                    Phạm vi
                </th>
                <th>
                    Trạng thái
                </th>
                <th>Hành động</th>
            </tr>
        </thead>
        @if (Model.Item2.Tasks.Count <= 0)
        {
            <tr>
                <td colspan="6" style="text-align:center"><i>Nhân viên hiện chưa có công việc nào</i></td>
            </tr>
        }
        @foreach (var item in Model.Item2.Tasks)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @{
                        var lableColor = item.Scope ? "label-info" : "label-warning";
                        var textScope = item.Scope ? "public" : "private";
                    }
                    <span class="tag label @lableColor">
                        @textScope
                        <span data-role="remove"></span>
                    </span>
                </td>
                <td>
                    @{
                        // 1. Đang làm  2. Đã xong  3. Trễ hạn
                        var labelStatusColor = "";
                        var statusText = item.StatusId.ToString();
                        if (statusText == "1")
                        {
                            labelStatusColor = "label-primary";
                            statusText = "Đang làm";
                        }
                        else if (statusText == "2")
                        {
                            labelStatusColor = "label-success";
                            statusText = "Đã xong";
                        } else
                        {
                            labelStatusColor = "label-danger";
                            statusText = "Trễ hạn";
                        }
                    }
                    <span class="tag label @labelStatusColor">
                        @statusText
                        <span data-role="remove"></span>
                    </span>
                </td>
                <td>
                    @Html.ActionLink("Sửa |", "Edit", "Task", new { id = item.Id }, null)
                    @Html.ActionLink("Chi tiết", "Detail", "Task", new { id = item.Id }, null) |
                </td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.Item1.Id }) |
    @Html.ActionLink("Quay trở lại trang trước", "Index")
</p>
