﻿@model ToDoList.Models.Employee
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>Nhân viên</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
    
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.BirthDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BirthDate, new { htmlAttributes =  new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
                </div>
            </div>
            @{
                var isMaleSelected = ViewBag.genderVal == "Nam" ? "selected" : "";
                var isFemaleSelected = ViewBag.genderVal == "Nữ" ? "selected" : "";
            }
            <div class="form-group">
                @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select name="Gender" class="form-control">
                        <option value="Nam" @isMaleSelected>Nam</option>
                        <option value="Nữ" @isFemaleSelected>Nữ</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    <span class="text-danger">@ViewBag.errorMessage</span>
                </div>
            </div>
            @{
                var isEmployeeSelected = ViewBag.roleVal == 2 ? "selected" : "";
                var isAdminSelected = ViewBag.roleVal == 1 ? "selected" : "";
            }
            <div class="form-group">
                @*<label class="control-label col-md-2">Vai trò</label>
                <div class="col-md-10">
                    <select name="RoleId" class="form-control">
                        <option value="1" @isAdminSelected>Quản trị viên</option>
                        <option value="2" @isEmployeeSelected>Nhân viên</option>
                    </select>
                </div>*@
                <input type="hidden" name="RoleId" value="2" />
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Lưu" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Quay trở lại trang trước", "Index")
    </div>